  <% if (title == "") { %>
    <h1><P>Pratiksinh Makwana</P></h1>
    <img src="/images/me.jpeg" style="width: 300px">
  <%} else { %>
    
  <% } %>
   
  <script src="jquery/dist/jquery.slim.min.js"></script> 
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="javascripts/app.js"></script> 
</body> 
</html>