
<!-- Footer -->
<footer>
  <nav class="navbar fixed-bottom bg-dark navbar-dark" style="color: white;">
  
  <div class="container-fluid py-1"><h6 style="margin-left: 550px;"><b>© 2022 : Pratiksinh Makwana</b></h6>
  </div>
  <!-- Copyright -->
</nav>
</footer>
<!-- Footer -->
  <script src="/jquery/dist/jquery.slim.min.js"></script> 
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script>
    var getTitle = "<%= title %>";
  </script>
  
  <script src="/javascripts/app.js"></script> 
</body> 
</html>