<!DOCTYPE html> 
<html lang="en"> 
<head>
  <meta charset="UTF-8"> 
  <meta http-equiva="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title> <%= title %> </title> 
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css" /> 
  <link rel="stylesheet" href="/public/stylesheets/main.css" />
</head> 
<body>
  <!-- Main Nav bar -->
  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo --> 
    <z>
        <a class="navbar-brand" href="#">
            <img src="/images/pm.png" alt="logo" style="width: 50px;" >
        </a>
    </z>
    
    <ul class="navbar-nav">
    
      
        <li class="nav-item"> 
            <% if (title == "Home") { %>
                <a class="nav-link active" href="/">
            <%} else { %>
                <a class="nav-link" href="/">
            <% } %>
                <i class="fas fa-home"></i> Home </a>
            </a>
        </li>
        
        <li class="nav-item"> 
            <% if (title == "Projects") { %>
                <a class="nav-link active" href="/projects"> 
            <%} else { %>
                <a class="nav-link" href="/projects">
            <% } %>
                <i class="fas fa-tasks"></i> Projects </a> 
            </a>
        </li>

        <li class="nav-item"> 
            <% if (title == "Services") { %>
                <a class="nav-link active" href="/services"> 
            <%} else { %>
                <a class="nav-link" href="/services">
            <% } %>
                <i class="fab fa-aws"></i> Services </a> 
            </a>
        </li>
        
        <li class="nav-item"> 
            <% if (title == "") { %>
                <a class="nav-link active" href="/about">
            <%} else { %>
                <a class="nav-link" href="/about">
            <% } %>
                <i class="far fa-address-card"></i> About </a>
            </a>
        </li>

        <li class="nav-item"> 
            <% if (title == "Contact Me") { %>
                <a class="nav-link active" href="/contact">
            <%} else { %>
                <a class="nav-link" href="/contact">
            <% } %>
                <i class="far fa-address-book"></i> Contact  </a>
            </a>
        </li>

        
      
    </ul>
    
  </nav>
  
  