

<!DOCTYPE html> 
<html lang="en"> 
<head>
  <meta charset="UTF-8"> 
  <meta http-equiva="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title> <%= title %> </title> 
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css" /> 
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head> 
<body>
  <!-- Main Nav bar -->
  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark table-responsive" >
    <!-- Brand/logo --> 
    <p style="margin-left : 20px;">
        <a class="navbar-brand" href="#">
            <p style="margin-right: 150px; margin-top: 2px; margin-bottom: 2px;" >
                <img src="/images/pm6.png" alt="logo" style="width: 50px;" ></p>
        </a>
    
    
    <ul class="navbar-nav space">
    
      
        <li class="nav-item"> 
            <% if (title == "Home") { %>
                <a class="nav-link active" href="/"> 
            <%} else { %>
                <a class="nav-link" href="/">
            <% } %>
                <i class="fas fa-home"></i> Home </a>
            </a>
        </li>
        
        <li class="nav-item"> 
            <% if (title == "Projects") { %>
                <a class="nav-link active" href="/projects"> 
            <%} else { %>
                <a class="nav-link" href="/projects">
            <% } %>
                <i class="fas fa-tasks"></i> Projects </a> 
            </a>
        </li>

        <li class="nav-item"> 
            <% if (title == "Services") { %>
                <a class="nav-link active" href="/services"> 
            <%} else { %>
                <a class="nav-link" href="/services">
            <% } %>
                <i class="fab fa-aws"></i> Services </a> 
            </a>
        </li>
        
        <li class="nav-item"> 
            <% if (title == "About") { %>
                <a class="nav-link active" href="/about">
            <%} else { %>
                <a class="nav-link" href="/about">
            <% } %>
                <i class="far fa-address-card"></i> About </a>
            </a>
        </li>

        <li class="nav-item"> 
            <% if (title == "Contact Me") { %>
                <a class="nav-link active" href="/contact">
            <%} else { %>
                <a class="nav-link" href="/contact">
            <% } %>
                <i class="far fa-address-book"></i> Contact  </a>
            </a>
        </li>
        
        
          <li class="nav-item">  
            <% if (typeof userName == 'string' && userName) { %>
              <a class="nav-link" href="/users/logout" onclick="return confirm('Sure ?')"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout </a>
            <% } else { %>
                <% if (title == "Login") { %>
              <a class="nav-link active" href="/users/login">
                <%} else { %> 
                    <a class="nav-link" href="/users/login">
                        <% } %>
                  <i class="fa fa-sign-in" aria-hidden="true"></i> login  </a>
            </a>
            <% } %>            
            
          </li> 
      
        <li class="nav-item"> 
            <% if (title == "Contact List") { %>
                <a class="nav-link active" href="/users/login">
            <%} else { %>
                <a class="nav-link" href="/users/login">
            <% } %>
            <i class="fa fa-th-list fa-1x"></i> Contact List  </a>
            </a>
        </li>

        

        
      
    </ul>
  </p>

  </nav>
  
  