<!--
File Name - home.ejs
Student Name - Pratiksinh Makwana
Student ID - 301219863
Date - 29-01-2022
-->

<% if (title == "Home") { %>
    <div class="img" > 
    </div> 
    <div class="home-text"> 
      <r><p>Welcome to my <%= title %> page</p></r>
      <span><p> Personal Portfolio Website using ExpressJS and implementing the EJS<br> templating
        engine, hosted on Heroku. </p></span>
    </div>
    
    <div>
      <button type="button" class="btn btn-dark button" onclick="location.href='/about'">Click Me</button>
    </div>
    
    <%} else { %>
      
    <% } %>