<!--
File Name - projects.ejs
Student Name - Pratiksinh Makwana
Student ID - 301219863
Date - 29-01-2022
-->

<% if (title == "Projects") { %>
    <div class="container-fluid" >
      
        <div class="row" style="margin-top: 30px;">
          <div class="col-6" >
            <p><h3 style="margin-left: 8px;margin-bottom: -5px;font-family: Roboto, sans-serif !important;">
              <B>Simple Website</B></h3></p>
            <div class="project-text-head"><p>A simple website I had made during my 2nd semester in 
              the university using HTML and CSS. This was the first website I had ever made. 
              This was a solo project. I made different tabs and divide the page into different 
              sections for introduction, event, and display tab pages.I had also used the 
              <b>marquee</b> tag for auto-scrolling the images up to down and <b>Link</b> to the 
            icon from which you will redirect on click. </p></div></div>
            
          <div class="col-6"><img src="/images/project1.png" style="margin-left: 20px;"></div>
        </div>
        
        <div class="row" style="margin-top: 50px;">
          <div class="col-5" ><img src="/images/project2.jpeg" style="margin-top: 50px;height: 
          350px;width: 650px;"></div>
          <div class="col-1"></div>
          <div class="col-6">
            <p><h3  style="margin-left: 8px;font-family: Roboto, sans-serif !important;">
              <b>Smart Irrigation</b></h3>
              <div class="project-text-head">
            <p>
            The smart irrigation system is used as <b>smart farming </b>
            in which farmers don't need to check for the water of crops. A <b>moisture sensor</b>, 
            which is capable of sensing the moisture of the soil. When it finds the dry soil, 
            it automatically supplies the water to the crops from the pump. 
            The implementation is quite costly but it is easy to maintain. 
            We had also made an application that sends the live data to the user so that 
            he or she can see the live status.<br><br>
  
            This project was based on the <b>IoT(internet of things)</b>. 
            This was a group project, a group of 3 people. 
            This was my first embedded project in which we 
            had used software as well as hardware. 
            I managed all the hardware parts and also helped in the application we made. </p></p></div>
        </div></div>
        <p></p>
        
        <div class="row" style="margin-top: 30px; margin-bottom: 50px;">
          <div class="col-6 "><p ><h3 style="font-family: Roboto, 
          sans-serif !important;"><b style="margin-left: 8px; ">Face Recognition Attendence System</b></h3>
            <div class="project-text-head2" style="margin-top: 5px;">
            <p>
            A Face recognition attendance system is used in various industries 
            to save from fake presents. In this system, the<b> Harr-cascade </b>algorithm 
            is used. It captures the image of the user and recognizes the face from 
            the saved database, if it is matched it fills the attendance in the excel sheet. 
            If any new user comes for the first time, the system takes his/her photographs and 
            saved them to the directory in <b>12 x 12</b> format. when we click on the <b>train image</b>, 
            it starts to detect the image from various perspectives and learn from that. 
            when the next time user comes, they don't need to do anything. just by seeing 
            the face, the system fills the attendance.<br><br>
            This is a project based on <b>python </b>and <b>machine learning</b>. 
            This was a group project led by me. we were three members in the group. 
            in this project, I had taken care of the <b>front-end</b> as well as<b> back-end</b>. 
            <b>Tkinter</b> was used to make an interface. It is very comfortable to use python
             in machine learning projects because in python we have to code less.</p></p></div></div>
          
          <div class="col-6 " ><img src="/images/project3.jpg" style="margin-top: 60px;margin-left: 
          20px; height: 400px;"></div>
        </div>
        
     
  
    </div>
    <%} else { %>
    
  <% } %>
  