<!--
File Name - services.ejs
Student Name - Pratiksinh Makwana
Student ID - 301219863
Date - 29-01-2022
--> 

<% if (title == "Services") { %>
    <div class="container-fluid">
        
          <div class="row">
            <div class="col-12 "><h1 class="service-text-head"><b> We Provide </b></h1></div>
          </div>
          
          <div class="row" style="margin-top: 30px;">
            
            <div class="col-2 services-img"><img src="/images/gp.jpeg"></div>
            <div class="col-4"> 
                <div class="service-text">
                    <h3>General Programming</h3>
                    <p>
                      It is a set of programming, design, testing, planning,laptop virus 
                      recovery,etc.<br>to improve and protect an application or software. In this digital world, soft-
                      </p>
                </div>
                </div>
                <div class="col-2 services-img"><img src="/images/wd.png"></div>
                <div class="col-4">
                <div class="service-text">
                    <h3>Web Development</h3>
                    <p>Our internet site builders offer professional net software improvement 
                      and net layout offerings to our clients. Appnovation gives a number of 
                      web site design </p>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-6">
                <div class="service-text2">
                    <p>ware improvement and innovation enable businesses 
                      large and small to reach new heights of success. 
                      We provide software development offerings that help companies move in the direction of 
                      agility, innovation and effectively manage developments in the technology world.</p>
                </div>
            </div>
            
            <div class="col-6">
                <div class="service-text2">
                <p>and improvement offerings, from growing responsive internet site designs
                  to constructing custom e-trade and intranet 
                  stories the use of the contemporary and demonstrated net technologies. 
                  The appearance, usability, and accessibility of your internet site are 
                  essential particularly in an an increasing number 
                  of aggressive markets.</p>
            </div>
        </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-2 services-img"><img src="/images/hw.png" style="width: 85px;margin-left:12px;"></div>
            <div class="col-4 ">
                <div class="service-text" >
                    <h3>Hardware Support</h3>
                    <p>hardware wishes to be stored updated or it is able to go away your agency 
                      and the records it handles open to a number of dangers and threats. 
                      However, </p>
                </div>
                
        </div>
        <div class="col-2 services-img"><img src="/images/ma.png"></div>
            <div class="col-4"> 
                <div class="service-text">
                    <h3>Mobile App Development</h3>
                    <p>Using the stable understanding of smartphone apps improvement, 
                      we can assist you to create realistic and seamless stories on any 
                      tool and get the </p>
                </div>
                
            </div>
      
    </div>
    <div class="row">
        
        
        <div class="col-6">
            <div class="service-text2">
                <p>with all the hardware choices — now no longer to say the plethora of vendors — 
                  to be had today, the direction you're taking may be fraught with frustration and 
                  highly-priced laptop crashes in case you don’t update your equipment. 
                  Our hardware aid offerings hold and solve issues together along with your 
                  hardware and devices.</p>
            </div>
        </div>
        <div class="col-6">
          <div class="service-text2">
              <p>quality of the cellular era on your commercial enterprise. 
                We offer the best mobile application improvement services. 
                 We construct programs on unique systems with
                 the usage of top-notch technology and confirmed approaches.</p>
          </div>
      </div>
    </div>
        
        
  </div>
  </div>
  <%} else { %>
  
  <% } %>
  