<% include partials/header.ejs %>
  
    
    <% if (title == "Home") { %>
      <div class="img" > 
      </div> 
      <div class="home-text"> 
        <r><p>Welcome to my <%= title %> page</p></r>
        <span><p> Personal Portfolio Website using ExpressJS and implementing the EJS<br> templating
          engine, hosted on Heroku. </p></span>
      </div>
      
      <div>
        <button type="button" class="btn btn-dark button" onclick="location.href='/about'">Click Me</button>
      </div>
      
      <%} else { %>
        
      <% } %>
    
      <% if (title == "Projects") { %>
        <h1><%= title %></h1>    
        <%} else { %>
        
      <% } %>

      <% if (title == "About") { %>
        <div class="container-fluid-md">
          <div class="container">
            <div class="row">
              <div class="col-md-12 about-text"><h1><P>Pratiksinh Makwana</P></h1></div>
            </div>
            
            <div class="row">
              <div class="col-md-6 "><img src="/images/me.jpeg" style="width: 300px; border-radius: 5px;"></div>
              <div class="col-md-6 about-para"><p> 
                I have completed my bachelor's degree in computer engineering from <B>Indus University, India.</B> 
                I love to swim, read, travel,and surf websites.I am very enthusiastic and inquisitive about technology.
                I also like to explore new things and meet new people. 
                I'm the kind of guy who loves to take knowledge from wherever it comes.
                I used to teach my younger brother who is 9 years smaller than me.I often teach him maths. 
                I love the busy life.</p>
                <p style="margin-top: 40px; font-size: large;" ><a href="https://drive.google.com/file/d/1ZDoOziPyipmn0mtjsaG4Q63dsbewVcev/view?usp=sharing" target="blank">My Resume</a></p>
              </div>
            </div>
            
          </div>

        </div>
        
        
          
               
      
      <%} else { %>
        
      <% } %>
  
<% include partials/footer.ejs %>  